@import url("https://fonts.googleapis.com/css2?family=Viga&family=Dosis&family=Oxygen+Mono&display=swap");

h1,
h2,
h3 {
    font-family: Viga, serif;
    color: #555555;
    text-shadow: 1px 1px 2px #333333;
    font-weight: normal;
}

h5 {
    margin-bottom: 0.5em;
}

hr {
    border: 1px solid #555;
}

.remark-slide-content {
    background-color: white;
    font-family: Dosis, sans-serif;
    font-size: 34px;
    color: #333333;
    border-left: 1em solid #8202c7;
    padding: 1em 3em;
}

.remark-code,
.remark-inline-code {
    font-family: "Oxygen Mono", monospace;
    font-size: 22px;
}

.remark-slide-number {
    font-family: "Oxygen Mono", serif;
    font-size: 20px;
    top: 12px;
}

.left-column {
    width: 49%;
    float: left;
}
.right-column {
    width: 49%;
    float: right;
}

.left-column-33 {
    width: 33%;
    float: left;
}
.right-column-66 {
    width: 66%;
    float: right;
}

.left-column-66 {
    width: 66%;
    float: left;
}
.right-column-33 {
    width: 33%;
    float: right;
}

.right-column ~ p {
    clear: both;
}
.right-column ~ ul {
    clear: both;
}

.box {
    font-family: Viga, serif;
    margin: 0.5em 0;
    padding: 0.5em;
    padding-left: 1em;
    display: block;
    background: rgba(100, 100, 100, 0.1);
    clear: both;
}

.clear {
    clear: both;
}

.warning {
    font-family: Viga, serif;
    margin: 0.5em 0;
    padding: 0.5em;
    padding-left: 1em;
    border-left: 0.5em solid darkred;
    display: block;
    background: rgba(100, 100, 100, 0.1);
}

.top {
    margin-left: -3em;
    margin-top: -1em;
}

.bottom {
    position: fixed;
    max-width: 70%;
    bottom: 0;
}

.ref {
    font-size: 0.7em;
    color: crimson;
    vertical-align: super;
}

.footnote {
    font-size: 0.6em !important;
    display: block;
}

.ref:before {
    content: "[";
}

.ref:after {
    content: "]";
}

.huge {
    font-size: 4em;
}

.small {
    font-size: 0.8em;
}

.red {
    color: crimson;
}

.green {
    color: darkgreen;
}

.blue {
    color: steelblue;
}

.yellow {
    color: darkgoldenrod;
}

.emph {
    text-decoration: underline;
}

.strike {
    text-decoration: line-through;
}

.bold {
    font-weight: bold;
}

.todo {
    display: block;
    background: pink;
    color: darkred;
    padding: 0.2em 1em;
}

.todo:before {
    content: "TODO: ";
    font-weight: bold;
}

table th,
table td {
    padding: 0em 0.5em;
}

.wide table td {
    padding: 0.5em;
}

a:link,
a:active,
a:visited,
a:focus {
    color: steelblue;
    text-decoration: none;
    font-family: "Oxygen Mono", monospace;
}

li > p {
    margin: 0;
}

.remark-notes {
    font-size: 20px;
}